<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/static/js/search.js"></script>
    <title>Testing jquery and flask</title>
</head>

<body class="main">
    <div class="search-container">
        <div class="search-bar">
            <h5 class="header-logo">Search data</h5>
            <p class="tagline">Search from array using POST request with Ajax</p>
            <input class="input-field" type="text" placeholder="Type the query">
        </div>

        <div class="search-button">
            <button class="button">Search 🔎</button>
        </div>

        <div class="results"></div>
    </div>
</body>

</html>